#page {
  width: 800px;
  margin: 0 auto; }
  @media screen and (max-width : 800px) {
    #page {
      width: 100%; } }
  @media screen and (max-width : 480px) {
    #page {
      width: 100%;
      margin: 40px 0px 0px 0px; } }

body, #page {
  height: 100%; }

@media screen and (max-width : 800px) {
  body {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none; } }

@media screen and (max-width : 800px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0px; } }
@media screen and (max-width : 480px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0px; } }

#main {
  padding-bottom: 80px;
  position: relative; }
  @media screen and (max-width : 800px) {
    #main {
      padding-bottom: 0px; } }
  @media screen and (max-width : 480px) {
    #main {
      padding-bottom: 0px;
      position: static; } }

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0; }

.sidebar {
  float: left; }

#sidebar-second {
  float: right; }
  @media screen and (max-width : 800px) {
    #sidebar-second {
      float: none;
      clear: both;
      width: auto;
      margin: 0px;
      padding: 5px; } }

#footer {
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 800px;
  float: none;
  clear: both; }
  @media screen and (max-width : 800px) {
    #footer {
      position: relative;
      width: 100%; } }
  @media screen and (max-width : 480px) {
    #footer {
      position: relative;
      width: 100%; } }

@media screen and (max-width : 480px) {
  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
    padding: 5px; } }

@media screen and (max-width : 480px) {
  #content #content-inner.center {
    margin: 0px;
    padding: 5px; } }

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both; }

.two-sidebars .center,
.sidebar-first .center {
  margin-left: 23.75%; }

#sidebar-first {
  width: 23.75%;
  margin-right: -190px; }
  @media screen and (max-width : 480px) {
    #sidebar-first {
      margin-right: 0;
      width: 100%; } }

.two-sidebars .center,
.sidebar-second .center {
  margin-right: 200px; }

#sidebar-second {
  width: 200px; }
  @media screen and (max-width : 480px) {
    #sidebar-second {
      margin-right: 0;
      width: 100%; } }

.inner {
  padding: 0; }

#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: 40px; }
  @media screen and (max-width : 480px) {
    #navigation {
      clear: both;
      padding: 5px;
      position: absolute;
      top: 0px; } }

.with-navigation #content,
.with-navigation .sidebar {
  margin-top: 40px; }
@media screen and (max-width : 480px) {
  .with-navigation #content {
    margin-top: 0px; } }

a {
  color: blue; }
  a:visited {
    color: blue; }
  a:hover {
    color: red; }
  a:focus {
    color: red;
    outline: thin dotted; }
  a:hover, a:active {
    color: red;
    text-decoration: underline;
    outline: 0; }

#navigation ul {
  margin: 0px;
  float: left;
  padding: 0px; }
#navigation li {
  list-style: none;
  margin: 5px;
  float: left; }

#footer p {
  margin: 0px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: black; }
  @media screen and (max-width : 480px) {
    h1, h2, h3, h4, h5, h6 {
      font-family: Arial, sans-serif;
      line-height: 1.5;
      font-size: 16px;
      background: #fff;
      color: #000;
      word-wrap: break-word;
      -webkit-text-size-adjust: none; } }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  margin: 0 0 1em 0; }

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp, tt {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 1em;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em; }

dd {
  margin: 0 0 0 2em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

@media screen and (max-width : 800px) {
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0; } }

@media screen and (max-width : 800px) {
  img {
    border: 0;
    max-width: 100%; } }

@media screen and (max-width : 800px) {
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0; } }

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc); }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

#skip a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px; }
  #skip a:active, #skip a:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static !important;
    width: auto; }

#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

div.view div.views-admin-links {
  width: auto; }

div.block {
  position: relative; }
  div.block .edit {
    display: none;
    position: absolute;
    right: -20px;
    top: -5px;
    z-index: 40;
    padding: 3px 8px 0;
    font-size: 10px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #888888;
    -webkit-box-shadow: -1px 1px 2px #666666; }
    div.block .edit a {
      display: block;
      border: 0;
      padding: 0;
      margin: 0; }
  div.block:hover .edit {
    display: block; }

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }
  .ir br {
    display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static !important;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: "";
    display: table; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

.clearleft, .clearl, .cleft {
  clear: left; }

.clearright, .clearr, .cright {
  clear: right; }

.clear, .clearboth, .clearall {
  clear: both; }

.floatleft, .fleft, .floatl {
  display: inline;
  float: left;
  margin: 0 10px 5px 0; }

.floatright, .fright, .floatr {
  display: inline;
  float: right;
  margin: 0 0 5px 10px; }

#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777; }

#edit-delete {
  color: #c00; }

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace; }

div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5; }

div.error {
  color: white;
  background: #e63;
  border-color: #d52; }

div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #222222; }

body {
  margin: 0;
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em; }

::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid,
textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%; }

td {
  vertical-align: top; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

.wireframe-mode #header,
.wireframe-mode #content-top,
.wireframe-mode #content-top > *,
.wireframe-mode #content-header,
.wireframe-mode #content-header > *,
.wireframe-mode #content-area,
.wireframe-mode #content-area > *,
.wireframe-mode #content-bottom,
.wireframe-mode #content-bottom > *,
.wireframe-mode #primary,
.wireframe-mode #secondary,
.wireframe-mode #sidebar-left-inner,
.wireframe-mode #sidebar-right-inner,
.wireframe-mode .block {
  padding: 2px;
  border: 1px solid #bbbbbb; }
.wireframe-mode .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px; }
.wireframe-mode .block {
  margin-bottom: 3px; }
.wireframe-mode #content-top,
.wireframe-mode #content-header,
.wireframe-mode #content-area,
.wireframe-mode #content-bottom {
  margin: 0 3px 3px; }
.wireframe-mode #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc; }
.wireframe-mode .with-navigation #content,
.wireframe-mode .with-navigation .sidebar {
  margin-top: 50px; }
.wireframe-mode #navigation {
  height: 50px; }

#header,
#sidebar-first,
#sidebar-second,
#footer {
  padding: 10px;
  border: 1px dotted #888888; }

#header {
  background: white; }

#sidebar-first {
  background: white; }

#sidebar-second {
  background: white; }

#navigation {
  background: white; }

#footer {
  background: white; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none; }

  #page {
    width: 100%; }

  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto; }

  a:hover, a:active, a:link, a:visited {
    color: black; }

  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal; } }
.lt-ie8 #content tr.even th,
.lt-ie8 #content tr.even td,
.lt-ie8 #content tr.odd th,
.lt-ie8 #content tr.odd td {
  border-bottom: 1px solid #cccccc; }

.lt-ie8 ul.primary li a:hover,
.lt-ie8 ul.secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none; }

.lt-ie7 div.admin .left,
.lt-ie7 div.admin .right {
  width: 46%; }

.lt-ie7 ul.primary,
.lt-ie7 ul.secondary {
  width: 100%;
  width: auto; }
  .lt-ie7 ul.primary li a,
  .lt-ie7 ul.primary li a .tab,
  .lt-ie7 ul.secondary li a,
  .lt-ie7 ul.secondary li a .tab {
    display: inline;
    display: inline-block; }

.lt-ie7 ul.primary li a {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left -38px; }
  .lt-ie7 ul.primary li a .tab {
    background: url(../images/tabs/tab-right-ie6.png) no-repeat right -38px; }
  .lt-ie7 ul.primary li a:hover {
    background-position: left -76px; }
    .lt-ie7 ul.primary li a:hover .tab {
      background-position: right -76px; }
.lt-ie7 ul.primary li.active a, .lt-ie7 ul.primary li.active a:hover {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left 0; }
  .lt-ie7 ul.primary li.active a .tab, .lt-ie7 ul.primary li.active a:hover .tab {
    background: url(../images/tabs/tab-right-ie6.png) no-repeat right 0; }
